{% extends 'base.html' %}
{% load staticfiles %}
<html>
<head>
    <title>Feedback page</title>
</head>
{% block content %}
    <div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-6">
  <div class="card" style="width:400px">
    <div class="card-body">
      <h4 class="card-title">Jane Doe</h4>
         <img class="card-img-bottom" src="{% static 'images/swimming-pool.jpg' %}" alt="Card image" style="width:100%">
      <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>

  </div>
            <div class="card" style="width:400px">
    <div class="card-body">
      <h4 class="card-title">Jane Doe</h4>
         <img class="card-img-bottom" src="{% static 'images/swimming-pool.jpg' %}" alt="Card image" style="width:100%">
      <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>

  </div>
</div>
    </div>
    </div>
    </div>
   {% endblock %}
</html>